body {
    background-color: beige;
}

h1, h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container, #score-container, #game-result {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin: 10px;
}